* {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}


.roxo {
    color: rgb(131, 25, 127);
}

button {
    background: transparent;
    cursor: pointer;
    border-radius: 15px;
    border: solid 1px;
    color: rgb(0, 0, 0);
    font-size: 13px;
    padding: 5%;
}

header {
    background-color: #34A6A6;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
    padding-left: 65%;
    position: fixed;
    opacity: 0.8;
    font-weight: 600;
    width: 50%;
}

header .cabecalho_link {
    display: flex;
    gap: 3rem;
    list-style: none;
}

header .cabecalho_link a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

header button {
    font-weight: 600;
    width: 110px;
}

header .inicio:hover a,
header .sobre_mim:hover a,
header .projetos:hover a,
header .habilidade:hover a,
header button:hover,
main button:hover {
    color: rgb(144, 55, 137);
    transform: scale(1.05);
}



main .inicio {
    background-color: #96E0E0;
    padding-top: 10%;
    padding-bottom: 15%;
    padding-right: 30%;
    padding-left: 25%;
    font-size: medium;
}

main .inicio_descricao_e_img {
    display: flex;
    gap: 3rem;
}

main .inicio_link {
    list-style: none;
    display: flex;
    gap: 5rem;
    align-items: center;
}

main button {
    width: 80px;
}

main .subtitulo {
    color: rgb(0, 0, 0);
    text-align: center;
    text-decoration: underline;
}

main .sobre_mim {
    background-color: #88D4D4;
    padding-top: 10%;
    padding-bottom: 10%;
    padding-right: 15%;
    padding-left: 15%;

}

main .sobre_mim_titulo {
    text-decoration: none;
    border: solid 2px rgb(0, 0, 0);
    border-radius: 10%;
    padding: 2px;
    text-align: center;
}

main #quem_sou_eu_titulo {
    width: 160px;
    margin-left: 40%;
}

main #habilidades_titulo {
    width: 140px;
    margin-left: 40%;
}

main #quem_sou_eu_conteudo {
    gap: 3rem;
    display: flex;
    font-size: large;
}

main #habilidades_conteudo p {
    font-size: large;
    text-align: center;
    padding-top: 5%;
    opacity: 0.6;
}

main #habilidades_conteudo img {
    cursor: pointer;
}

main .habilidades_icones {
    padding-top: 12%;
    text-align: center;
    gap: 10px;
}

main .icone_html {
    padding-right: 2.5%;
}

main .icone_html,
.icone_css,
.icone_js,
.icone_c,
.icone_java,
.icone_shotcut {
    opacity: 0.7;
}

main .icone_html:hover,
.icone_css:hover,
.icone_js:hover,
.icone_c:hover,
.icone_java:hover,
.icone_shotcut:hover {
    opacity: 1;
}

#html,
#css,
#js,
#c,
#java,
#edicao {
    display: none;
    padding-top: 5%;
    padding-left: 10%;
    padding-right: 10%;
}

main .habilidades_descricao_item {
    text-align: center;
    padding-top: 5%;
    padding-bottom: 3%;
    opacity: 0.8;
}

main .projetos {
    background-color: #62C2C2;
    padding-top: 8%;
    padding-bottom: 3%;
    text-align: center;
}

main .projeto_link {
    padding-top: 5%;
    padding-bottom: 2%;
}


main .projeto_impar,
.projeto_par {
    display: flex;
    padding-top: 2%;
    padding-bottom: 2%;
    gap: 2rem;
}

main .projeto_impar {
    padding-left: 10%;
    padding-right: 50%;
}

main .projeto_par {
    padding-left: 50%;
    padding-right: 10%;
    border-bottom: solid rgb(144, 55, 136) 1px;
    border-top: solid rgb(144, 55, 136) 1px;
}

main .contato {
    background-color: #4cc0c6;
    padding-top: 10%;
    padding-left: 15%;
    padding-right: 15%;
}

main .contato_link {
    padding-top: 7%;
    display: flex;
    gap: 1.5rem;
}

main .contato_link p {
    border-right: solid 1px rgb(144, 55, 136);
}

main .contato_link a {
    color: rgb(0, 0, 0);
}

.info_complementar {
    padding-top: 25%;
    text-align: center;
    font-size: small;
}

/*linkado com o .script.js para fazer o efeito de aparecer aos poucos*/
main .inicio_descricao_e_img,
.inicio_link,
.sobre_mim_conteudo {
    visibility: hidden;
}

:root {
    --gradient: linear-gradient(to right,
            #BA55D3,
            #9370DB,
            #4B0082)
}

.gradiente {
    background-image: var(--gradient);

    background-clip: text;
    -webkit-background-clip: text;

    color: transparent;
}

/*responsividade para celular*/

@media screen and (max-width: 768px) {

    section,
    aside {
        width: 100%;
    }

    header {
        display: none;
    }

    main {
        text-align: center;
    }

    .inicio_descricao_e_img,
    #quem_sou_eu_conteudo,
    .contato_link {
        flex-direction: column;
    }

    .inicio_descricao_e_img img {
        width: 250px;
        height: 250px;
        align-self: center;
        padding-bottom: 5%;
    }

    #quem_sou_eu_conteudo img {
        width: 250px;
        height: 250px;
        align-self: center;
        padding-top: 5%;
    }

    .contato_link img {
        align-self: center;
    }

}
